body {
    background-color: #fff;
}
.metrouicss .page {
    width: 940px ;
    margin:  20px auto;
    background-color: #fff;
}
.browsers-icons img {
    float: left;
    margin-right: 20px;
}


.github-info {
}


#brand-name {
    line-height: 24px;
    margin-top: 2px;
}


hr {
    border: 0;
    border-bottom: 1px #ddd dotted;
    color: #ddd;
    background-color: #ddd;
}

#social{
    margin-bottom: 90px;
}
#shareme .box{
    margin:5% 8% 0 8%;
    width:100%;
    clear: both;
}
#shareme .box a{
    color:#404040;
    text-shadow: 0 1px 1px rgba(167,167,167,.4);
}
#shareme .box a:hover{
    text-decoration:none;
}
#shareme .count {
    font-weight:bold;
    font-size:50px;
    float:left;
    border-right:2px solid #57b8d1;
    line-height:40px;
    padding-right:10px
}
#shareme .share {
    float:left;
    margin-left:10px;
    font-size:20px;
    width:82px;
}
#shareme .buttons {
    position: absolute;
    width:294px;
    background-color:#fff;
    border: 1px solid rgba(0,0,0,.2);
    padding:10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 100px;
}
#shareme .button {
    float:left;
    max-width:50px;
    min-width:10px;
    margin:0 15px 0 0;
    background-color: transparent;
}
#shareme .facebook {
    margin:0 4px 0 0;
}

#carousel1 {
    height: 242px;
}

#sponsorBlock {
    height: 300px;
}

#page-index .carousel .control {
    top: auto;
    left: auto;
    bottom: -40px;
}
#page-index .carousel .control.left {
    right: 100px;
}
#page-index .carousel .control.right {
    right: 30px;
}

.metrouicss .charms,
.metrouicss .app-bar,
.metrouicss .message-dialog,
.metrouicss .error-bar,
.metrouicss .warning-bar,
.metrouicss .info-bar {
    position: absolute;
}

@media (min-width: 768px) and (max-width: 979px) {
    .metrouicss .page {
        width: 724px;
    }
    .metrouicss .hero-unit > img {
        zoom: .6;
    }
    .metrouicss .browsers-icons img {
        zoom: .8;
    }

}

@media (max-width: 767px) {
    .metrouicss .page {
        width: 100%;
    }

    .metrouicss .hero-unit > img {
        zoom: .6;
    }

    .metrouicss .modern-ui-logo {
        width: 24px;
        height: 24px;
    }
    .metrouicss .github-info {
        margin-top: 5px;
    }

    .metrouicss a, .metrouicss .link {
        font-size: 9pt;
    }

    .metrouicss h3 {
        line-height: 11px;
    }

    .metrouicss .no-mobile {
        display: none;
    }

    .metrouicss #carousel1 {
        height: 300px !important;
    }
}

@media (max-width: 480px) {
    .metrouicss .hero-unit img {
        display: none;
    }

    .metrouicss #jetbrains {
        display: none;
    }
    .metrouicss #brand-name {
        display: none;
    }
    .page-region{
      right:30px;
    }
    .metrouicss .page.with-sidebar .page-region .page-region-content{
		right:20px;
		padding-left:3px;
}
	.metrouicss .page .page-header h1{font-size:48pt;}
	.metrouicss .page .page-header small{display:block;padding:10px;margin-right:10px;}
	.metrouicss .page .page-header small:BEFORE{content:"— ";color:#dedede;}
    .metrouicss .page-sidebar {width:auto%;margin: auto 7px auto;}
    .metrouicss .listview li{width:100%;}
    .metrouicss .accordion li ul{margin-left:0;}
    .metrouicss .page {margin:  40px auto;}
}
.pushResult.message-dialog.bg-color-green{
		position: relative;
		width: 30%;
		left: 40%;
}
@media (max-width: 966px){
	.pushResult.message-dialog.bg-color-green{
		position: relative;
		top: 10%;
		width: 51%;
		left: 26%;
	}	
}
.post_content {
    text-align: justify;
}
.slider.taskupdate{
	height:25px;
	margin: auto;
}
.slider.taskupdate .marker{
	height:25px;
	
}
.offset3.bg-color-blue.updateTask{
	margin-top: -30px;
	width: 46px;
	height: 25px;
    color: white;
}
@media (max-width: 770px){
	.offset3.bg-color-blue.updateTask{
		margin-top: 0px;	    
	}
}
.input-control.select.offset3.udpate{
	width: 141px;
	margin-top: -100px;
}
/**
#updateTask{
	bottom: 32px;
}
@media (max-width: 770px){
	#updateTask{
		bottom: 32px;
		left: 62%;
		width: 50px;
	}	
}

#OperateTask{
	margin-top: -30px;
}
*/
.span3.bg-color-blue.msg{
	color: #FFF;
	float: right;
	position: fixed;
	bottom: -175px;
	right: 0px;
	z-index: 999;
	/**阴影部分加圆角
	box-shadow: #817171 0px 0px 8px 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	*/
}
.span3.solid{
	border-bottom: 1px solid #150EBE;
}
.msgTitle{
	text-align: center;
	margin: 0 !important;
}
.msgContent{
	text-align: left;
	margin: 0 !important;
	font-size: 12px !important;
}
.icon-comments-5.msgComments{
	width: 25px;
	height: 25px;
	font-size: 25px;
	padding-left: 6px;
    padding-top: 5px;
}
.span2.checkMsg{
	width: 140px !important;
	float: left;
	color: #FFF;
	font-weight: bold;
}
.span1.neverShow{
	width: 60px !important;
	float: right;
	color: #FFF;
}
.icon-cancel-2.msgClose{
	color: #FFF;
	float: right;
	font-size: 15px;
	padding-right: 5px;
	padding-top: 5px;
}