.table tr td,.table tr th {
	text-align: center;
}

.label.label-success {
	padding: 5px 10px 5px 10px;
}

.label.label-error {
	padding: 5px 10px 5px 10px;
}

.label.label-waring {
	padding: 5px 10px 5px 10px;
}